
.button {
    display: inline-block;
    line-height: 3em;
    padding: 0 1em;
    background: #34343E;
    border-radius: 0.125em;
    background-clip: padding-box;
  
    margin-right: 1em
}
  
.button:before {
      content: "\2190";
}
  
.button--plain {
      background: #41414E
}
  
.button--ghost {
      border: 1px solid #EEE !important;
      background: none
}
  
.button--ghost--green {
     border-color: #7CBDBA !important
 }
  
  .button--lighten {
      box-shadow: 0 1px 1px #33333D;
      background-image: linear-gradient(to bottom, #464653, #3E3E49);	
  }
  
  .button--subtle {
      background-image: linear-gradient(to bottom, #41414D, #3B3B47);
      box-shadow: 0 1px 1px #33333D;
  }
  
  .button--realistic {
    box-shadow: 0 1px 1px #33333D;
      background-image: linear-gradient(to bottom, #40404B, #373744 );
  }
  
  .button--indent {
      background: #363642;
      box-shadow: inset 0 1px 1px #33333D, inset 0 -1px 0 #404049;
  }
  
  .buttonslicein {
      background: none;
    background-image: linear-gradient(to right, #363642, #3B3B47);
      box-shadow: inset 1px 0 1px #33333D;
  }